// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background);
}

body._lock {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
}
